.bg_projects {
  background-image: url("../../assets/projects.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.drop:hover{
  filter:drop-shadow(0 0 2em #646cffaa);
}